.contenedor-global-ventana{
    width: 100%;
}
.contenedor-ventana{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.contenedor-botones-ventana{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.contenedor-botones-ventana > button{
    width: 30px;
    height: 30px;
    border: none;
    border: 1px solid black;
    border-radius: 5px;
}

.selected {
    background-color: rgba(0, 0, 255, 0.138);
}

.tabla-ventana>tr{
    transition: all 0.1s ease;
}

.tabla-ventana>tr:hover{
    cursor: pointer;
}
.tabla-ventana>tr.selected:hover{
    background-color: rgba(0, 0, 255, 0.138);
}