/* Estilos para el contenedor de la cabecera */
@font-face {
  font-family: FuentePrincipal;
  src: url(./MuseoSansCyrl-500.woff);
}

*{
  font-family: FuentePrincipal;
}
.cabecera-portal {
  position: absolute; /* Posición fija para que se mantenga en la esquina superior izquierda */
  top: 0; /* Ubicación en la parte superior */
  right: 0; /* Ubicación en la parte izquierda */
  background-color: white; /* Color de fondo */
  color: var(--primary); /* Color del texto */
  padding: 8px 20px 8px 20px; /* Espacio interno */
  display: flex; /* Mostrar elementos en línea */
  justify-content: space-between; /* Alinear elementos a los extremos */
  align-items: center; /* Centrar verticalmente */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave */
  border-radius: 0 0 0 20px;
}



/* Estilos para el texto del correo */
.cabecera-portal span {
  font-size: 17px;
  margin-right: 20px;
}

/* Estilos para el botón de cerrar sesión */
.cabecera-portal button {
  background-color: var(--color-perla); /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Sin borde */
  padding: 4px 12px; /* Espacio interno */
  font-size: 16px;
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  border-radius: 12px;
}

/* Estilos para el botón al pasar el cursor por encima */
.cabecera-portal button:hover {
  background-color: var(--primary-bajo); /* Cambiar el color de fondo al pasar el cursor */
}
